a {
  text-decoration: none;
  color: #fff;
  &:hover{
    color: rgb(39, 6, 39);
  }
}


.all-form {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: gray 22px;
  margin-top: 1%;
}

input[type="text"],
textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

fieldset {
  max-width: 60%;
}

input {
  margin-bottom: 2%;
  max-width: 60%;
  height: 40px;
}

select {
  margin-bottom: 2%;
  max-width: 60%;
  height: 40px;
}

label {
  display: block;
  font-weight: bold;
    margin-bottom: 5px;
}

#address {
  margin-top: 10px;
}

#create-employee{
    display: flex;
    flex-direction: column;
    max-width: 80%;
}



.button-save {
    margin-top: 1%;
    padding: 10px;
    background-color: #0f8b47;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 20%;
    
  &:hover{
    background-color: #0056b3;
  }
}